<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='./static/style/css/main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.png') }}">
    {% block title %}
        <title>NEU Siber</title>  
    {% endblock title %}
</head>
<body>
    <header id="header">
        {% block navbar %}
            {% include "includes/navbar.html" %}
        {% endblock navbar %}

        {% include "includes/messages.html" %}
        
        {% block body %}
          
        {% endblock body %}
        {% include "includes/footer.html" %}
    </header>
    {% block script %}
      
    {% endblock script %}
    <script src="./static/style/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>