{% extends "layout.html" %}

{% block title %}
    <title>NEU Sİber - İşletim Sistemleri (Linux-1)</title>
{% endblock title %}

{% block body %}
    <section class="py-5 text-center d-flex justify-content-center align-items-center text-dark mt-5">
        <div class="container">
            <p class="display-5 py-5 pe-none fw-bolder text-body-secondary font-monospace">İşletim Sistemleri (Linux-1) Eğitimimize Hoşgeldiniz...</p>
            <div class="row bg-light rounded-5 py-5 px-5">
                <div class="col-md-12 mb-5 mb-lg-0 mx-auto">
                    <div class="ratio ratio-16x9">
                        <iframe src="https://www.youtube.com/embed/ShJafpuiuII"title="Linux-1" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}