{% extends "layout.html" %}

{% block title %}
    <title>NEU Siber - Resume Builder</title>
{% endblock title %}

{% block body %}
    <section class="py-5 text-center d-flex justify-content-center align-items-center text-dark mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mx-auto">
                    <p class="fs-2 pt-5 pe-none fw-bolder text-body-secondary font-monospace">Profesyonel Resume'nizi Buradan Oluşturun</p>
                    <p class="fs-6 pt-3 pe-none fw-bold text-body-secondary font-monospace">Profesyonel Resume'nizi 15 dakikada hazırlayıp indirin.</p>
                    <a type="button" href="/login" class="btn btn-primary btn-lg mt-3 fw-bolder font-monospace">Resume Oluşturun</a>
                    <p class="fs-6 pt-3 pe-none fw-medium text-body-secondary font-monospace">İşe alınma ihtimaliniz %65 artacak</p>
                </div>
                <div class="col-md-8 mx-auto bg-light text-start rounded-5 px-5 mt-3 py-3">
                    <p class="fs-4 pt-3 pe-none fw-bold text-body-secondary font-monospace">Hızlı ve Kolay</p>
                    <p class="fs-6 pt-3 pe-none fw-medium text-body-secondary font-monospace">NEU Siber ile herkes hızlı ve kolayca profesyonel bir Resume oluşturabilir. Kişisel bilgilerinizi girin ve Resume içeriğini doldurmaya başlayın. Son olarak Resume'nizi indirin.</p>
                </div>
                <div class="col-md-8 mx-auto bg-light text-start rounded-5 px-5 mt-3 py-3">
                    <p class="fs-4 pt-3 pe-none fw-bold text-body-secondary font-monospace">İşe alınma ihtimalinde artış</p>
                    <p class="fs-6 pt-3 pe-none fw-medium text-body-secondary font-monospace">Sizi çok iyi anlatan ve profesyonel bir Resume ile diğer tüm adaylar arasından öne çıkacaksınız. Ayrıca mülakata davet edilme ihtimaliniz de %65'e kadar artacaktır.</p>
                </div>
                <div class="col-md-8 mx-auto bg-light text-start rounded-5 px-5 mt-3 py-3">
                    <p class="fs-4 pt-3 pe-none fw-bold text-body-secondary font-monospace">Başvurularınızı Düzenleyin</p>
                    <p class="fs-6 pt-3 pe-none fw-medium text-body-secondary font-monospace">Başvurduğunuz işe göre Resume’nizi düzenleyebilmeniz gayet önemlidir. NEU Siber kişisel hesabınız sayesinde, birkaç farklı Resume oluşturup düzenleyebileceksiniz.</p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}