<section class="py-5 text-dark mt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <p class="mt-3 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Sayfalar</p>
                <a href="/" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">Anasayfa</a>
                <br>
                <a href="/about" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">Hakkımızda</a>
                <br>
                <a href="/contact" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">İletişim</a>
                <br>
                <a href="/trainings" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">Eğitimlerimiz</a>
                <br>
                <a href="/blog" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">Blog</a>
                <br>
                <a href="/cv" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">Cv Oluştur</a>
            </div>
            <div class="col-md-4 mx-auto">
                <p class="mt-3 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Bizi Takip Et</p>
                <a href="https://www.instagram.com/neusiberguvenlik/" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0"><i class="bi bi-instagram"></i> Instagram</a>
                <br>
                <a href="https://www.youtube.com/@neusiberguvenlik" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0"><i class="bi bi-youtube"></i> Youtube</a>
                <br>
                <a href="https://www.linkedin.com/company/necmettin-erbakan-%C3%BCniversitesi-siber-g%C3%BCvenlik-toplulu%C4%9Fu/" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0"><i class="bi bi-linkedin"></i> LinkedIn</a>
                <br>
                <a href="https://discord.gg/UCNV8ZxrxS" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0"><i class="bi bi-discord"></i> Discord</a>
                <br>
                <a href="https://t.me/siberguvenlikkk" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0"><i class="bi bi-telegram"></i> Telegram</a>
            </div>
            <div class="col-md-4 mx-auto">
                <p class="mt-3 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">İletişim</p>
                <p class="mt-3 fs-6 text-break fw-bold lh-base font-monospace text-dark user-select-none">NEU Siber</p>
                <p class="mt-3 fs-6 text-break lh-base font-monospace text-body-secondary user-select-none"> We Are Everywhere... <br> <i class="bi bi-telephone-fill"></i><a href="tel:05426275756" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">(542) 627-5756</a> <br> <i class="bi bi-inbox-fill"></i><a href="mailto:info@neusiberguvenlik.com" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">info@neusiberguvenlik.com</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto mt-5">
                <p class="mt-3 fs-6 text-break lh-base font-monospace text-body-secondary user-select-none">&copy; 2023 Neu Siber · Tüm içerik  <a href="/license" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">CC Lisansına</a> tabidir.</p>
            </div>
        </div>
    </div>
</section>