{% extends "layout.html" %}

{% block title %}
    <title>CV Builder - Kayıt Ol</title>
{% endblock title %}

{% block navbar %}
    {% include "includes/navbar1.html" %}
{% endblock navbar %}

{% block header %}
    <style>
        .header{
            background: rgb(94, 10, 150);
            width: 100%;
            height: 25px;
        }

        .header p{
            text-align: center;
            margin-top: 8px;
            width: 100%;
            font-weight: bold;
            font-size: 18px;
            color: rgb(255, 255, 255);
            user-select: none;
        }
    </style>

    <div class = "header">
        <p>Kayıt Ol</p>
    </div>
{% endblock header %}

{% block body %}
    {% from "includes/formhelpers.html" import render_field %}
    <style>
        .wizard_inner{
            position: relative;
            z-index: 0;
        }

        .form_personal{
            opacity: 1;
        }

        .section1{
            width: 70%;
            position: relative;
            height: auto;
            margin: auto;
            margin-top: 50px;
            background-color: rgb(242, 242, 242);
            padding: 50px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            box-shadow: 0 2px 8px 2px rgba(20, 23, 28, .15);
            z-index: 0;
        }

        .form1{
            width: 100%;
            height: 100%;
            border: 1px solid rgb(216, 216, 216);
            padding: 10px;
            margin-right: 10px;
            overflow: hidden;
            display: inline-block;
        }

        h3{
            text-align:center;
        }

        form{
            width:85%;
            padding-left: 100px;
        }

        hr{
            width:75%;
            margin-left: 85px;
        }


    </style>

    <div class="wizard_inner">
        <div class="form_personal">
            <div class="section1">
                <div class="form1">
                    <h3>Kayıt Ol</h3>
                    <hr>
                    <form method = "POST">
                        {{ render_field(form.name, class="form-control") }}
                        {{ render_field(form.surname, class="form-control") }}
                        {{ render_field(form.email, class="form-control") }}
                        {{ render_field(form.username, class="form-control") }}
                        {{ render_field(form.password, class="form-control") }}
                        {{ render_field(form.confirm, class="form-control") }}
                        <br>
                        <div class = "d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary">Kayıt Ol</button>
                        </div>
                        <br>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}