<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: rgb(127, 224, 192);">PC MAN - İletişim</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container1">
        <nav class="navbar">
            <div class="logo">
                <a href="Anasayfa.html">PC MAN</a>
            </div>
            <ul>
                <li><a href="Anasayfa.html">Ana Sayfa</a></li>
                <li><a href="Hakkimizda.html">Hakkımızda</a></li>
                <li><a href="Iletisim.html" class="active">İletişim</a></li>
                <li class="menu"><a href="">Projeler</a>
                    <ul>
                        <li>
                            <a href="CV_Maker.html">CV_Hazırla</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header">
            <a>İletişim</a>
            <br>
            <br>
            <br>
            <div class="section">
                <div class="form">
                    <div class="row">
                        <div class="col25">
                            <label for="">Adınız</label>
                        </div>
                        <div class="col75">
                            <input type="text" placeholder="Adınızı Giriniz">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col25">
                            <label for="">Soyadınız</label>
                        </div>
                        <div class="col75">
                            <input type="text" placeholder="Soyadınızı Giriniz">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col25">
                            <label for="">Mesajınız</label>
                        </div>
                        <div class="col75">
                            <textarea name="" id="" cols="30" rows="10" placeholder="Mesajınızı Giriniz"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <input type="submit" value="Gönder">
                    </div>
                </div>
                <div class="adres">

                    <h2>İletişim</h2>

                    <span class="span1">
                        Yağcılar Mahallesi 1340.Sokak No: 42/2
                        Adapazarı/Sakarya
                    </span>
                    <span class="span1">
                        0542 627 57 56
                    </span>
                    <span class="span1">
                        aliekber123kara@gmail.com
                    </span>
                </div>
            </div>
        </div>

    </div>
</body>
</html>