{% extends "layout.html" %}

{% block title %}
    <title>QuizApp - Anasayfa</title>
{% endblock title %}

{% block body %}   
    <section class="py-5 text-dark mt-5">
        <div class="container">
            <div class="row bg-light rounded-5">
                <div class="text-center">
                    <h3 class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">QUIZ</h3>
                    <div class="container w-50 mb-5">
                        <form method="post">
                            <div class="row text-center">
                                <div class="col-lg-5 mx-auto">
                                    <h2 class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Soru 1: Bir yapay sinir ağında geri yayılım algoritması nasıl çalışır? Adım adım açıklayınız.</h2>
                                    <input type="text" name="question" id="question" class="form-control" placeholder="Answer 1">
                                </div>
                                <div class="col-lg-5 mx-auto mt-3 mt-lg-0">
                                    <!-- First question with multiple choice -->
                                    <h2 class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Soru 2: Aşağıdakilerden hangisi Python'da derin öğrenme için en popüler kütüphane olarak kabul edilir?</h2>
                                    <input type="radio" name="question1" value="numpy" id="question1" class="form-control"> Numpy<br>
                                    <input type="radio" name="question1" value="pandas" id="question1" class="form-control"> Pandas<br>
                                    <input type="radio" name="question1" value="tensorflow" id="question1" class="form-control"> Tensorflow<br>
                                    <input type="radio" name="question1" value="matplotlib" id="question1" class="form-control"> Matplotlib<br>
                                </div>
                                <div class="col-lg-5 mx-auto mt-3 mt-lg-0">
                                    <!-- Second question with multiple choice -->
                                    <h2 class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Soru 3: Bir yapay sinir ağında, ağırlıklar hangi amaca hizmet eder?</h2>
                                    <input type="radio" name="question2" value="veri" id="question2" class="form-control"> Veri normalizasyonunu sağlamak<br>
                                    <input type="radio" name="question2" value="noron" id="question2" class="form-control"> Nöronların ateşleme olasılığını etkilemek<br>
                                    <input type="radio" name="question2" value="boyut" id="question2" class="form-control"> Veri boyutunu azaltmak
                                    <br>
                                    <input type="radio" name="question2" value="model" id="question2" class="form-control"> Modeli overfitting'e karşı korumak
                                    <br>
                                </div>
                                <div class="col-lg-5 mx-auto mt-3 mt-lg-0">
                                    <!-- Third question with a text input -->
                                    <h2 class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">Soru 4: Veri ön işleme neden derin öğrenme modellerinin başarısı için kritik öneme sahiptir? Açıklayınız.</h2>
                                    <textarea name="question3" rows="4" cols="50" id="question3" class="form-control" placeholder="Answer 4"></textarea>
                                </div>
                                <div class="col-lg-2 mx-auto mt-3 mt-lg-0">
                                    <button type="submit" class="btn btn-outline-secondary">Gönder</button>
                                </div>
                            </div>
                            <!-- User's best score in the top right corner -->
                            <div style="position: absolute; top: 10px; right: 10px;">
                                <p>Best Score: {{big_point}}%</p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}