<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title style="color: rgb(127, 224, 192);">PC MAN - CV Hazırla</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container1">
        <nav class="navbar">
            <div class="logo">
                <a href="Anasayfa.html">PC MAN</a>
            </div>
            <ul>
                <li><a href="Anasayfa.html">Ana Sayfa</a></li>
                <li><a href="Hakkimizda.html">Hakkımızda</a></li>
                <li><a href="Iletisim.html">İletişim</a></li>
                <li class="menu"><a href="" class="active">Projeler</a>
                    <ul>
                        <li>
                            <a href="CV_Maker.html">CV_Hazırla</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <div class="header">
            <a>CV Hazırla</a>
            <br>
            <br>
                <div class="slogan">
                    <p>
                    Bilgilerinizi Girerek CV'nizi Oluşturun.
                    <br>
                    İşe Girme İhtimalinizi Arttırın.
                    </p>
                </div>
        </div>
        <div class="button">
            <li><a href="Kisisel.html">CV Oluştur</a></li>
        </div>
    </div>
</body>
</html>