<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title style="color: rgb(127, 224, 192);">PC MAN - Kişisel Bilgiler</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <div class="container2">
            <nav class="navbar">
                <div class="logo">
                    <a href="Anasayfa.html">PC MAN</a>
                </div>
                <div class="kisisel">
                    <a>Kişisel Bilgiler</a>
                </div>
                <div class="cv">
                    <a>CV Hazırla</a>
                </div>
            </nav>
            <div class="wizard_inner">
                <div class="form_personal">
                    <div class="section1">
                        <div class="form1">
                            <h2>Kişisel Bilgiler</h2>
                            <br>
                            <div class="inline">
                                <div class="foto1">
                                    <div class="label">
                                        <input type="file" id="file" accept="image/*">
                                        <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="12" cy="12" r="3.2"></circle>
                                            <path d="M9 2L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2h-3.17L15 2H9zm3 15c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5z"></path>
                                        </svg>
                                        <label for="file" class="text">Fotoğraf Ekle</label>
                                    </div>
                                </div>
                                <div class="isim">
                                    <div class="fn">
                                        <label for="ad">İsim*</label>
                                        <input type="text" name="ad" placeholder="Adınızı Giriniz">
                                    </div>
                                    <div class="ln">
                                        <label for="soyad">Soyad*</label>
                                        <input type="text" name="soyad" placeholder="Soyadınızı Giriniz">
                                    </div>
                                </div>
                            </div>
                            <div class="inline">
                                <div class="e_mail">
                                    <label for="email">E-posta Adresi*</label>
                                    <input type="text" name="email" placeholder="E-posta Adresinizi Giriniz">
                                </div>
                                <div class="tel">
                                    <label for="telefon">Telefon Numarası</label>
                                    <input type="text" name="telefon">
                                </div>
                            </div>       
                            <div class="inline">
                                <div class="inline">
                                    <div class="yol">
                                        <label for="adres">Adres</label>
                                        <input type="text" name="adres">
                                    </div>
                                </div>
                                <div class="inline">
                                    <div>
                                        <div class="code">
                                            <label for="posta">Posta Kodu</label>
                                            <input type="text" name="posta">
                                        </div>
                                        <div class="ilce">
                                            <label for="sehir">Şehir/İlçe</label>
                                            <input type="text" name="sehir" placeholder="Örn. İstanbul">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div class="extra">
                                    <div class="inline">
                                        <div class="inner">
                                            <div class="col1">
                                                <div class="col2">
                                                    <div class="gun">
                                                        <label class="txt"> Doğum Tarihi</label>
                                                        <select class="day" name="days">
                                                            <option value="0">Gün</option>
                                                            <option value="01">1</option>
                                                            <option value="02">2</option>
                                                            <option value="03">3</option>
                                                            <option value="04">4</option>
                                                            <option value="05">5</option>
                                                            <option value="06">6</option>
                                                            <option value="07">7</option>
                                                            <option value="08">8</option>
                                                            <option value="09">9</option>
                                                            <option value="10">10</option>
                                                            <option value="11">11</option>
                                                            <option value="12">12</option>
                                                            <option value="13">13</option>
                                                            <option value="14">14</option>
                                                            <option value="15">15</option>
                                                            <option value="16">16</option>
                                                            <option value="17">17</option>
                                                            <option value="18">18</option>
                                                            <option value="19">19</option>
                                                            <option value="20">20</option>
                                                            <option value="21">21</option>
                                                            <option value="22">22</option>
                                                            <option value="23">23</option>
                                                            <option value="24">24</option>
                                                            <option value="25">25</option>
                                                            <option value="26">26</option>
                                                            <option value="27">27</option>
                                                            <option value="28">28</option>
                                                            <option value="29">29</option>
                                                            <option value="30">30</option>
                                                            <option value="31">31</option>
                                                        </select>
                                                        <i class="ok"></i>
                                                    </div>
                                                    <div class="ay">
                                                        <label class="txt">&nbsp;</label>
                                                        <select name="aylar" class="day">
                                                            <option value="0">Ay</option>
                                                            <option value="01">Ocak</option>
                                                            <option value="02">Şubat</option>
                                                            <option value="03">Mart</option>
                                                            <option value="04">Nisan</option>
                                                            <option value="05">Mayıs</option>
                                                            <option value="06">Haziran</option>
                                                            <option value="07">Temmuz</option>
                                                            <option value="08">Ağustos</option>
                                                            <option value="09">Eylül</option>
                                                            <option value="10">Ekim</option>
                                                            <option value="11">Kasım</option>
                                                            <option value="12">Aralık</option>
                                                        </select>
                                                        <i class="ok"></i>
                                                    </div>
                                                    <div class="yil">
                                                        <label class="txt">&nbsp;</label>
                                                        <select name="yillar" class="day">
                                                            <option value="0">Yıl</option>
                                                            <option value="01">2011</option>
                                                            <option value="02">2010</option>
                                                            <option value="03">2009</option>
                                                            <option value="04">2008</option>
                                                            <option value="05">2007</option>
                                                            <option value="06">2006</option>
                                                            <option value="07">2005</option>
                                                            <option value="08">2004</option>
                                                            <option value="09">2003</option>
                                                            <option value="10">2002</option>
                                                            <option value="11">2001</option>
                                                            <option value="12">2000</option>
                                                            <option value="13">1999</option>
                                                            <option value="14">1998</option>
                                                            <option value="15">1997</option>
                                                            <option value="16">1996</option>
                                                            <option value="17">1995</option>
                                                            <option value="18">1994</option>
                                                            <option value="19">1993</option>
                                                            <option value="20">1992</option>
                                                            <option value="21">1991</option>
                                                            <option value="22">1990</option>
                                                            <option value="23">1989</option>
                                                            <option value="24">1988</option>
                                                            <option value="25">1987</option>
                                                            <option value="26">1986</option>
                                                            <option value="27">1985</option>
                                                            <option value="28">1984</option>
                                                            <option value="29">1983</option>
                                                            <option value="30">1982</option>
                                                            <option value="31">1981</option>
                                                            <option value="32">1980</option>
                                                            <option value="33">1979</option>
                                                            <option value="34">1978</option>
                                                            <option value="35">1977</option>
                                                            <option value="36">1976</option>
                                                            <option value="37">1975</option>
                                                            <option value="38">1974</option>
                                                            <option value="39">1973</option>
                                                            <option value="40">1972</option>
                                                        </select>
                                                        <i class="ok"></i>
                                                    </div>
                                                </div>
                                                <div class="col2">
                                                    <label for="place" class="txt">Doğum Yeri</label>
                                                    <input type="text" name="place">
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <div>
                                                    <div class="ehliyet">
                                                        <div class="col3" name="licences">
                                                            <label for="arac">Sürücü Ehliyeti</label>
                                                            <input type="text" class="licence" name="arac">
                                                        </div>
                                                    </div>
                                                    <div class="col2">
                                                        <label for="cins">Cinsiyet</label>
                                                        <select name="cins" id="" class="day">
                                                            <option value="0">Seç</option>
                                                            <option value="erkek">Erkek</option>
                                                            <option value="kadin">Kadın</option>
                                                        </select>
                                                        <i class="ok"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <div>
                                                    <div class="col3">
                                                        <label for="asker">Askerlik Durumu</label>
                                                        <input type="text" name="asker">
                                                    </div>
                                                    <div class="col2">
                                                        <label for="evlilik">Medeni Durum</label>
                                                        <select name="evlilik" id="" class="day">
                                                            <option value="0">Seç</option>
                                                            <option value="evli">Evli</option>
                                                            <option value="bekar">Bekar</option>
                                                        </select>
                                                        <i class="ok"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <div>
                                                    <div class="col3">
                                                        <label for="linkedin">LinkedIn</label>
                                                        <input type="text" name="linkedin">
                                                    </div>
                                                    <div class="col2">
                                                        <label for="instagram">Instagram</label>
                                                        <input type="text" name="instagram">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col1">
                                                <div>
                                                    <div class="col3">
                                                        <label for="github">Github</label>
                                                        <input type="text" name="github">
                                                    </div>
                                                    <div class="col2">
                                                        <label for="web">İnternet Sitesi</label>
                                                        <input type="text" name="web">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form_buttons">
                        <div class="form_button">
                            <button type="submit" class="next" onclick="window.location.href = 'Profil.html'">
                                <div class="spinner_hidden"></div>
                                Sonraki Adım
                                <div class="arrow_right">
                                    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 24 24" class="svg-keyboard-arrow-right" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M8.59 16.34l4.58-4.59-4.58-4.59L10 5.75l6 6-6 6z"></path>
                                    </svg>
                                </div>
                            </button>
                        </div>
                        <div class="privacy_policy">
                            Sonraki adıma tıklayarak CV'nizi oluşturmaya başlayacaksınız ve 
                            <a target="_blank" href="Genel.html">genel şartlar</a>
                            ve 
                            <a target="_blank" href="Gizlilik.html">gizlilik politikası</a>
                            maddelerini kabul etmiş sayılacaksınız.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>