<section class="py-5 text-dark mt-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mx-auto mt-5">
                <footer class="pt-5 fs-6 text-break fw-bold lh-base font-monospace text-body-secondary pe-none">
                    Benim ile alakalı detaylı bilgiye <a class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0" href="https://05pcman05.pythonanywhere.com/about">buradan</a> ulaşabilirsiniz.
                </footer>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mx-auto mt-5">
                <p class="mt-3 fs-6 text-break lh-base font-monospace text-body-secondary user-select-none">&copy; 2023 PC Man · Tüm içerik  <a href="/license" class="link-secondary font-monospace link-offset-2 link-underline link-underline-opacity-0">CC Lisansına</a> tabidir.</p>
            </div>
        </div>
    </div>
</section>